<div class="row mt-4">
    <div class="col-md-6">
      <div class="row" style="height: 450px;">
        <div class="col-md-12 my-auto side-header">
          <img src="/assets/img/user.png" height="100px" class="mx-auto d-block">
          <h1>User Login</h1>
          <p><em>-Using <strong>Asp.Net Core Web API</strong> and <strong>Angular 8</strong></em></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <form [formGroup]="service.loginFormModel" autocomplete="off" (submit)="onSubmit()">
        <div class="form-group required">
          <label>Username</label>
          <input class="form-control" formControlName="UserName">
          <label class="text-danger" *ngIf="service.loginFormModel.get('UserName').touched && service.loginFormModel.get('UserName').errors?.required">This field is mandatory.</label>
        </div>
        <div class="form-group required">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="Password">
            <label class="text-danger" *ngIf="service.loginFormModel.get('Password').touched && service.loginFormModel.get('Password').errors?.required">This field is mandatory.</label>
            <label class="text-danger" *ngIf="service.loginFormModel.get('Password').touched && service.loginFormModel.get('Password').errors?.minlength">Minimum 4 characters required.</label>
          </div>
        <div class="form-row">
          <div class="form-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-lg btn-block btn-success" [disabled]="!service.loginFormModel.valid">Login</button>
          </div>
        </div>
        <label class="text-danger" *ngIf="unauthorisedUser">Unauthorised</label>
      </form>
    </div>
  </div>