

/* You can add global styles to this file, and also import other style files */
input.ng-touched.ng-invalid{
    border-color: #FF0000;
}

input.ng-valid{
    border-color: #28a745;
}

.green-icon{
    color: #28a745;
}

.red-icon{
    color: #FF0000;
}

table tr:hover{
    cursor: pointer;
}

div.form-group.required>:first-child:after{
    content: "*";
    color: red;
    padding-left: 0px 16px;
}

.nav-user:hover{
    cursor: pointer;
}

.active{
    border: 2px solid blueviolet;
    color: coral;
}